.nav-header-container {
  background-color: #272727;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.lg-container {
  display: flex;
}
.lg-list {
  display: flex;
}
.list-item {
  list-style-type: none;
  margin: 10px;
  color: #ffffff;
}
.link {
  color: #ffffff;
  text-decoration: none;
}
.logout-btn {
  color: #ffffff;
  background-color: #6366f1;
  border-radius: 5px;
  border: none;
  padding: 10px;
}
